In [1]:

import pandas as pd
df = pd.read_csv('iris.csv')

In [3]:
df.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal.length  150 non-null    float64
 1   sepal.width   150 non-null    float64
 2   petal.length  150 non-null    float64
 3   petal.width   150 non-null    float64
 4   variety       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [5]:
df.isnull().sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64

In [6]:
df['variety'].value_counts()

Setosa        50
Versicolor    50
Virginica     50
Name: variety, dtype: int64

In [7]:
df['variety'] = df['variety'].map({'Setosa' : 0,
'Versicolor' : 1,
'Virginica': 2 })

In [8]:
X = df[['sepal.length', 'sepal.width', 'petal.length', 'petal.width']]
y = df['variety']

In [9]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics


X_train, X_test, y_train, y_test= train_test_split(X, y, test_size=0.2, random_state=0)

model = RandomForestClassifier(n_estimators=5)

model.fit(X_train, y_train)

RandomForestClassifier(n_estimators=5)

In [10]:
Y_pred = model.predict(X_test)

print(f'The accuracy for the test data : {metrics.accuracy_score(Y_pred, y_test)}')

The accuracy for the test data : 0.9666666666666667

In [11]:
Y_pred_train = model.predict(X_train)

print(f'The accuracy for the training data : {metrics.accuracy_score(Y_pred_train, y_train)}')

The accuracy for the training data : 1.0

# Cross Val

In [12]:
from sklearn.model_selection import cross_val_score

model = RandomForestClassifier(n_estimators = 5)
scores = cross_val_score(model, X, y, cv = 5)

print(f'Accuracy on each fold : {scores}')
print(f'Accuracy of the accuracy : {sum(scores)/5}')

Accuracy on each fold : [0.96666667 0.96666667 0.9        0.9        1.        ]
Accuracy of the accuracy : 0.9466666666666667

## Model Persistence

In [13]:
from joblib import dump

dump(model, 'RF_model.joblib')

['RF_model.joblib']